<% t =  data.gliomas%>
<div id="sidebar">
  <div class="sidebar">
    <div class="sidebar__top">
      <div class="sidebar__title">
        <h2><%= t.title  %></h2>
      </div>
      <div class="sidebar__percentage ">
        <p><span id= "%number">%</span>% completado</p>
        <span class="sidebar__percentage__bar sidebar__percentage__bar--1"></span>
        <span class="sidebar__percentage__bar sidebar__percentage__bar--2"></span>
      </div>
    </div>
    <div class="sidebar__content">
      <div class="sidebar__content__item sidebar__content__title">
        CONTENIDOS
      </div>
      <% capitulos = [t.presentacion_side, t.objetivos_side, t.epidemiologia_side, t.diagnostico_side, t.tratamiento_side, t.inicio_side, t.tendencias_side] %>
      <% capitulos.each do |item| %>
      <div class="sidebar__content__item sidebar__content__chapter" id= side_<%=item.tr(" ", "")  %>>
        <p><%= item  %></p>
       <i class="fas fa-check-circle"></i>
       <span class="fas fa-chevron-right sidebar__content__chevron"></span>

      </div>
      <% end %>
    </div>

  </div>
</div>
