<div class= "test">
    <% test_options.each do |option| %>

    <div class="test__option">
      <div class="test__check"></div>
      <h5> <%= option  %> </h5>
    </div>
  <% end  %>

  <br>
  <br>
  <div class=" margin-bottom7">
    <button class="button button__comprobar margin7 margin-bottom7"> Comprobar </button>
  </div>
</div>
