.header1{
  h1{
  font-family: $serif-font;
  font-size: 4.8rem;
  font-weight: 700;
  }

  &__line{
    &,
    &::before,
    &::after{
      display: inline-block;
      width: 15rem;
      height: 5px;
      background-color: $orange;

    }
  }
}
