.form{

  position: relative;



  &__radio-label{
    width: 80%;
    box-shadow: $box-shadow;

    margin-top: 1rem;
    transition: all 1s ease-in-out;
    height: 6rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }



  &__orange1,
  &__orange2{

    display: block;
    height: 6rem;
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    background-color: $orange;
    z-index: 0;
  }


  &__radio-input{
    display: none;
  }

  h5{
    font-family: $serif-font;
    font-size: 1.6rem;
    font-weight: 100;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
     position: absolute;
    left: 4rem;
  }

  &__radio-button{
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid $orange;
    border-radius: .7rem;
    position: absolute;
    left: 2.5rem;
    top: 2.75rem;


  }

  &__radio-input:checked + &__radio-label &__radio-button{
    background-color: $orange;
  }

}

.full-width{
  width: 100% !important;
}

.test__answer__correct,
.test__answer__incorrect,
.test__answer__correct2,
.test__answer__incorrect2{
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;

  h4{
  color: $orange;
    font-family: $serif-font;
    font-weight: 700;
    font-size: 1.8rem;
  }
}

.cross1{
  transform: translateX(30px) rotate(45deg);
}

.cross2{
  transform: translateX(30px) rotate(-45deg);
}


