#home {

  color: $black;
  position: relative;
  align-items: center;
  justify-content: space-around;


}

.main{
  width:  calc(100% - 30rem);
   background-color: white;
       box-shadow: $box-shadow;

  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

