#home {
  background-color: #FAFAFA;
  color: $black;
  position: relative;
  align-items: center;
  justify-content: space-around;


}

.main{
  width:  calc(100% - 25rem);

  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

